.primary-header {
    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
}

.container {
    --padding: 1.6rem;
    width: min(var(--max-width-content), 100% - var(--padding) * 2);
    margin-inline: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search,
.search-result {
    width: 361px;
}
.search {
    --bdr-rds-primary: 96px;
    display: flex;
    align-items: center;
    height: 46px;
    padding-left: 16px;
    background-color: var(--clr-placeholder);
    border-radius: var(--bdr-rds-primary);
    border: 1.5px solid transparent;
    position: relative;

    input {
        flex: 1;
        background-color: transparent;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.2rem;
        // color: var(--clr-placeholder);
        color: rgb(22, 24, 35);
        caret-color: var(--clr-caret-red);
        height: 100%;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.search-title {
    padding: 5px 12px;
    font-size: var(--fs-400);
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
.clear-icon,
.loading-icon {
    color: rgba(22, 24, 35, 0.34);
    position: absolute;
    right: calc(52px + 12px);
    bottom: 50%;
    transform: translate(0, 50%);
}

.search-btn {
    width: 52px;
    height: 100%;
    background-color: transparent;
    margin-left: auto;
    overflow: hidden;
    border-top-right-radius: var(--bdr-rds-primary);
    border-bottom-right-radius: var(--bdr-rds-primary);
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
    &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 60%;
        background-color: rgba(22, 24, 35, 0.12);
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
}
